
<div class="container-fluid parent">
  <app-outgoing-video *ngIf="outgoingCall == true && incomingCall == false"></app-outgoing-video>
  <app-incoming-video *ngIf="incomingCall == true && outgoingCall ==false"></app-incoming-video>
      <mat-card class="child p-0">
        <div class="row h-100 ">
          <div class="col-sm-4 h-100 pr-0" >
            <app-chat-list (profileTab)="profileTab($event)" *ngIf="viewProfile==false"></app-chat-list> 
            <app-profile (profileTab)="profileTab($event)" *ngIf="viewProfile == true"></app-profile>
          </div>
          
          <div class="col-sm-8 border-left border-dark h-100 pl-0 " id="chatdash">
            <div class="container-fluid p-0 h-100">
              <app-sidebox></app-sidebox>
              <app-chat-box *ngIf="selectedUser"></app-chat-box>

              <div class="container-fluid image" *ngIf="!selectedUser">
                  <img class="img-fluid" src="https://raw.githubusercontent.com/cometchat-pro-tutorials/angular-one-on-one-chat/b3a0bf561bf007e5184ad2b3fd281ef5335f4bb4/src/assets/no-messages-illustration.svg" />
                  <span class="title text-primary">Select Chat From Chat List</span>
                  <span class="info">Or Start New Chat</span>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
  </div>

   