<div class="container-fluid p-0 h-100">
  <div class="container" style="height: 16%;background-color: #00bfa5; padding: 0;">
    <mat-list class="p-0">
      <mat-list-item>
          <img
            matListAvatar
            [src]='imgSrc'
            alt="..."
            (click)='onProfile()'
          />
          <span class="text-white font-weight-bold pb-3 pl-2">{{currentUser.name}}</span>
          <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item  [formGroup]='searchForm'>
        <input
        type="text"
        class="form-control rounded-pill"
        placeholder="Search...."
        formControlName='search'
      />
      </mat-list-item>
    </mat-list>
  </div>

  <div class="container overflow-auto" style="height: 84%;padding: 0;" >
    
    <ng-container *ngIf="isLoading; else elseTemplate">
      <app-loading></app-loading>
    </ng-container>
    <ng-template #elseTemplate>
      <mat-list class="p-0">
        <mat-list-item  *ngFor="let conversation of conversations"   (click)="setUser(conversation)"   class="cursor"
        [ngStyle]="{'background-color':conversation._id == selectedConv  ? '#ebebeb' : '' }"
        >
          <img
            matListAvatar
            [src]= "handleRecipient(conversation.recipients).imagePath"
            alt="..."
          />
          <h3 matLine class="font-weight-bolder">
            <span>{{ handleRecipient(conversation.recipients).name}}</span>
            <span class="icon align-middle" *ngIf=checkOnline(conversation)>
              <i class="fas fa-circle"></i>
            </span>
          </h3>
          <p matLine>
            <span *ngIf="conversation.msgType == 'text'"> {{ conversation.lastMessage }} </span>
            <span class="demo-2 text-dark font-weight-bold" *ngIf="conversation.msgType == 'image'"> -- Image</span>
            <span class="demo-2 text-dark font-weight-bold" *ngIf="conversation.msgType == 'video'"> -- Video</span>
          </p>
          <mat-divider ></mat-divider>
        </mat-list-item>
      </mat-list>

    </ng-template>
    

   
  </div>

</div>
