
<div class="container-fluid h-100 w-100  main">
    <div class="row position-relative">
      <button class="btn btn-primary" style="width: 10%; position: absolute; right: 0 ;top:20px" (click)='onClose()'>Close</button>
    </div>
    
    <div class="row d-flex justify-content-center align-items-center">
      <div class="video-chat-container">
        <h2 class="talk-info text-center text-white" id="talking-with-info">
          {{msg}}
          <!-- <span><button class="btn btn-primary" (click)='onConnect()'>Connect</button></span> -->
        </h2>
        <div class="video-container">
          <video autoplay class="remote-video" id="remote-video" width="790" height="590"></video>
          <video autoplay muted class="local-video" id="local-video"></video>
        </div>
      </div>
    </div>   
  </div>