form {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    padding-left: 10px;
    margin: 0;
  }
  
  img {
    margin: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  span,
  a {
    font-family: Roboto-Regular;
    font-size: 16px;

  }
  
  .login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .login-page {  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
  }
  
  .login-box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 38px 0 rgba(45, 49, 63, 0.4);
    display: flex;
    border: 1px solid black;
    padding: 40px;
    height: 40%;
  }