<div class="login-page">
    <div class="login-box">
      <div class="login-content">
        <h1>Reset Your Password</h1>
        <br>
        <mat-error *ngIf="msg"  class="text-light p-2 mb-2 text-center border border-black rounded bg-danger">
            {{ msg  }}
          </mat-error>
       
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input matInput placeholder="Email ID" type="email" formControlName='email' required/>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]='isloading || loginForm.invalid' type="submit" >
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isloading"></span>
              Submit
            </button>
          </form>
          <div class="mt-3">
            <span>Click here to </span>
            <a routerLink="/login">Log In</a>
          </div>
      </div>
      <img src="https://raw.githubusercontent.com/cometchat-pro-tutorials/angular-one-on-one-chat/3eae5528ec69e6ddebe03b3dbb399a17ec0bb800/src/assets/chat-illustration-1.svg" />
    </div>
  </div>