<div class="login-page">
  <div class="login-box">
    <img src="https://raw.githubusercontent.com/cometchat-pro-tutorials/angular-one-on-one-chat/3eae5528ec69e6ddebe03b3dbb399a17ec0bb800/src/assets/chat-illustration-1.svg" />
    <div class="login-content">
      <h1>Create an Account</h1>
      <mat-error *ngIf="msg"  class="text-light p-2 text-center border border-black rounded bg-danger"
      [ngClass]="{ 'bg-success': msg == 'Successfully Registered' , 'bg-danger': msg != 'Successfully Registered' }"
      >
        {{ msg  }}
      </mat-error>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder='Name' type="text" formControlName='name' required/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email ID" type="email" formControlName='email' required/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName='password' required/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName='cpassword' required/>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]= "isloading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isloading"></span>
          SIGN UP
        </button>
      </form>
      <div class="mt-3">
        <span>Do you have an account?</span>
        <a routerLink="/login">Log in</a> <br><br>
        <span>Forget Password?</span>
        <a routerLink="/forget-password">Click Here</a>
      </div>
    </div>
  </div>
</div>